p{
     font-weight: 400;
     font-size: 36px;
     line-height: 44px;
     color: #595959;
}
h1{
     font-weight: 700;
     font-size: 64px;
     line-height: 78px;
     color: #1A1A1A;
}
h2{
     font-weight: 700;
     font-size: 48px;
     line-height: 59px;
     color: #1A1A1A;
}
a{
     font-weight: 600;
     font-size: 14px;
     line-height: 17px;
     color: #000000;
}
#map {
     height: 494px;
     width: 80%;
     margin: 0 auto;
     background: #E2E0E0;
     box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.2);
}