
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Montserrat:wght@400;600;700&display=swap');

@import "header";
@import "paternis";
@import "localizacao";
@import "servicos";
@import "segmentos";
@import "footer";