*{
     margin: 0;
     padding: 0;
     font-family: sans-serif;
}
body{
     display: grid;
     place-content: center;
     gap: 1rem;
     background: rgba(21, 0, 255, 0.8);
     color: #fff;
}
h2{
     font-size: 18px;
     text-align: center;
     /* max-width: max-content; */
}
#map {
     height: 280px;
     width: 100%;
 }